@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
  cursor: none !important;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: white;
  color: black;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}


.text-outline {
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: transparent;
  paint-order: stroke fill;
}
