@import 'tailwindcss';

* {
  /* cursor: none !important; */
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: white;
  color: black;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}