@import 'tailwindcss';

* {
  cursor: none !important;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: white;
  color: black;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}


.text-outline {
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: transparent;
  paint-order: stroke fill;
}

.grayscale {
  filter: grayscale(100%);
}

.grayscale-0 {
  filter: grayscale(0%);
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
